@page "/"
@inject HttpClient Http

<h1>TinyBacklog</h1>

<div class="row">
    <div class="col-md-8">
        @if (tasks is null || !tasks.Any())
        {
            <h2>No task</h2>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>User</th>
                        <th>Status</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var task in tasks)
                    {
                        <tr>
                            <td>@task.Title</td>
                            <td>@task.User?.UserName</td>
                            <td>@task.Status</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary" aria-label="Edit task" @onclick="() => EditTask(task)">
                                        <span class="oi oi-pencil"></span>
                                    </button>
                                </div>
                                @*<button type="button" class="btn btn-danger" aria-label="Delete task" @onclick="() => DeleteTask(task)">
                                    <span class="oi oi-trash"></span>
                                </button>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="col-md-4">
        <EditForm Model="currentTask" OnValidSubmit="SaveTask">
            <DataAnnotationsValidator />

            <div class="form-group">
                <label>Title</label>
                <InputText @bind-Value="currentTask.Title" class="form-control" />
                <ValidationMessage For="@(() => currentTask.Title)" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <InputTextArea @bind-Value="currentTask.Description" class="form-control" />
            </div>

            <div class="btn-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-outline-primary">Cancel</button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    IList<TaskViewModel> tasks;
    TaskViewModel currentTask = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await LoadTasks();
    }

    async Task LoadTasks()
        => tasks = await Http.GetFromJsonAsync<IList<TaskViewModel>>("api/TaskList");

    async Task SaveTask()
    {
        if (currentTask.Id == Guid.Empty)
        {
            await CreateNewTask();
        }
        else
        {
            await UpdateTask();
        }
    }

    private async Task CreateNewTask()
    {
        var response = await Http.PostAsJsonAsync("api/CreateTask", currentTask);
        if (response.IsSuccessStatusCode)
        {
            currentTask = new();

            var newTask = await response.Content.ReadFromJsonAsync<TaskViewModel>();
            tasks.Add(newTask);
        }
    }

    private async Task UpdateTask()
    {
        var response = await Http.PutAsJsonAsync("api/UpdateTask", currentTask);
        if (response.IsSuccessStatusCode)
        {
            currentTask = new();
        }
    }

    async Task DeleteTask(TaskViewModel task)
    {
        var response = await Http.DeleteAsync($"api/DeleteTask/{task.Id}");
        if (response.IsSuccessStatusCode)
        {
            tasks.Remove(task);
        }
    }

    void EditTask(TaskViewModel task) => currentTask = task;
}
