<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="">TinyBacklog</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Toggle menu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainmenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> My Tasks
                </NavLink>
            </li>
        </ul>
        <LoginDisplay />
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
